-
    const dir = '';

include ../includes/head


<!-- Slide 11 (#11) -->
<section class="slide fade-4 kenBurns" data-title="Home" data-name="slide-11-cb23524d">
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="fix-8-12">
                    <p class="ae-2 largest margin-bottom-2"><span class="opacity-8">Ideal Para La Familia. </span></p>
                    <h1 class=" uppercase weight-7 condense ae-1 margin-bottom-2">Cabañas "Los Delfines"</h1>
                    <a class="button round blue margin-top-1 ae-5 fromCenter">Contactanos</a>
                    <a class="button round white margin-top-1 ae-6 fromCenter">Reservas</a>
                </div>
            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(#{dir}assets/img/homepage/backgrounds/front-claro.jpg)"></div>
</section>

<!-- Slide 74 (#74) -->
<section class="slide fadeGradient-dark-7  fade-6 kenBurns" data-title="Visiòn" data-name="slide-74-44761e8b">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-8-12 center">
                    <p class="largest light ae-1">“Nuestra visión es entregar el mejor servicio turistico. Trabajamos todo el años para que su descanso sea los mas confortable y placentero.”</p>
                    <div class="fix-4-12 margin-top-2">
                        <a href="#" class="author block">
                            <img width="80" class="round ae-2 fromCenter margin-bottom-1" src="#{dir}assets/img/homepage/backgrounds/2.jpg" alt="Paul Rand"/>
                            <h4 class="smaller margin-bottom-1 ae-3">Ester Godoy</h4>
                        </a>
                    </div>
                </div>
                <div class="fix-12-12 margin-top-4">
                    <ul class="flex flex-74 fixedSpaces later equal">
                        <li class="col-4-12 col-tablet-1-2 col-phablet-1-1 ae-3 fromCenter">
                            <a href="#" class="box-74">
                                <div class="thumbnail-74">
                                    <img src="#{dir}assets/img/card/living.jpg" class="wide" alt="Thumbnail"/>
                                </div>
                                <div class="name-74 equalElement table wide">
                                    <div class="cell left top">
                                        <h4 class="smaller margin-bottom-1">Confortables</h4>
                                        <p class="small opacity-8 cropBottom">Por que sabemos que el descanzo es muy importante nuestras cabañas cuentan con 2 habitaciones confortables y equipadas.
                                            La habitacion principal cuenta con 1 cama de 2 plazas y La habitacion de niños con 2 camas de plaza y media.</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="col-4-12 col-tablet-1-2 col-phablet-1-1 ae-4 fromCenter">
                            <a href="#" class="box-74">
                                <div class="thumbnail-74">
                                    <img src="#{dir}assets/img/card/cocina.jpg" class="wide" alt="Thumbnail"/>
                                </div>
                                <div class="name-74 equalElement table wide">
                                    <div class="cell left top">
                                        <h4 class="smaller margin-bottom-1">Equipadas</h4>
                                        <p class="small opacity-8 cropBottom">Nos preocupamos que tengan todo lo nesesario para un estadia como si estubieran en casa, living de 3 cuerpos, comedor para 5 personas,
                                            Tv cable, terraza con vista al mar hacen de cabañas Los Delfines el lugar perfecto para una estadia prolongada.</p>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li class="col-4-12 col-tablet-1-2 col-phablet-1-1 ae-5 fromCenter">
                            <a href="#" class="box-74">
                                <div class="thumbnail-74">
                                    <img src="#{dir}assets/img/card/habitacion.jpg" class="wide" alt="Thumbnail"/>
                                </div>
                                <div class="name-74 equalElement table wide">
                                    <div class="cell left top">
                                        <h4 class="smaller margin-bottom-1">Hogareñas</h4>
                                        <p class="small opacity-8 cropBottom">Porque en todas la familias existe ese(a) chef que todo le queda perfecto,
                                            quisimos incluir en nuestras cabañas cocina equipada para que prepares los mejores platos con los pescados y mariscos de la zona.</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(#{dir}assets/img/homepage/backgrounds/muelle.jpg)"></div>
</section>


<!-- Slide 75 (#75) -->
<section class="slide  fade-4 kenBurns" data-title="Galería" data-name="slide-75-1ca25e8a">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-8-12 toCenter">
                    <h1 class=" open-sans margin-bottom-2 ae-1">Galeria</h1>
                    <p class=" raleway larger ae-2"><span class="opacity-9">Cabañas los Delfines,  visitanos en calle Lautaro #48,Los Vilos,Puerta de la IV Región.</span></p>
                </div>
                <div class="fix-12-12 margin-top-4">
                    <ul class="flex flex-75 fixedSpaces ae-3 popupTrigger noText" data-popup-id="75-75">
                        <li class="col-4-12 ae-6 fadeIn">
                            <img src="#{dir}assets/img/galeria/pelicano.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="6" alt="Image"/>
                            <img src="#{dir}assets/img/galeria/habitacion.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="5" alt="Image"/>
                        </li>
                        <li class="col-4-12 ae-2 fadeIn">
                            <img src="#{dir}assets/img/galeria/comedor.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="3" alt="Image"/>
                            <img src="#{dir}assets/img/galeria/muelle.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="4" alt="Image"/>
                        </li>
                        <li class="col-4-12 ae-7 fadeIn">
                            <img src="#{dir}assets/img/galeria/caleta.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="1" alt="Image"/>
                            <img src="#{dir}assets/img/galeria/cocina.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="0" alt="Image"/>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(#{dir}assets/img/homepage/backgrounds/cielo.jpg)"></div>
</section>

<!-- Popup Gallery -->
<div class="popup animated" data-popup-id="75-75">
    <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
    <div class="content">
        <div class="container">
            <div class="wrap spaces">

                <ul class="slider animated ae-1 fromAbove inlineBlock clickable popupContent disableSelect" data-slider-id="75-75" style="display: inline-block;">
                    <li class="selected">
                        <img src="#{dir}assets/img/galeria/cocina.jpg" class="rounded" alt="Image"/>
                    </li>
                    <li>
                        <img src="#{dir}assets/img/galeria/caleta.jpg" class="rounded" alt="Image"/>
                    </li>

                    <li>
                        <img src="#{dir}assets/img/galeria/pelicano.jpg" class="rounded" alt="Image"/>
                    </li>
                    <li>
                        <img src="#{dir}assets/img/galeria/comedor.jpg" class="rounded" alt="Image"/>
                    </li>
                    <li>
                        <img src="#{dir}assets/img/galeria/muelle.jpg" class="rounded" alt="Image"/>
                    </li>
                    <li>
                        <img src="#{dir}assets/img/galeria/habitacion.jpg" class="rounded" alt="Image"/>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>


<<!-- Slide 16 (#16) -->
<section class="slide fade-6 kenBurns" data-title="Reserva Ahora" data-name="slide-16-19c87e70">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-12-12">
                    <ul class="flex fixedSpaces reverse">
                        <li class="col-5-12 left">
                            <p class="margin-bottom-3 font-size-12 uppercase weight-7 ae-1">Lautaro 48,Los Vilos, IV Región</p>
                            <h2 class="margin-bottom-4 larger weight-7 ae-2">Su <i class="text-blue">familia</i> como en&nbsp;casa</h2>
                            <p class="margin-bottom-2 ae-3">Realice su reserva con anticipación con Ester Godoy </p>
                            <p class="margin-bottom-4 ae-3">Numero +569/99303900</p>
                            <a href="#" class="crop flat margin-right-2 margin-right-phone-0 margin-bottom-phone-2 button blue text-black round btn-132 ae-4"><span class="font-size-12 uppercase weight-7">Contactanos</span></a>
                            <a href="#" class="crop button white stroke flat round btn-132 ae-5"><span class="font-size-12 uppercase weight-7">Reserve Ahora</span></a>
                        </li>
                        <li class="col-1-12"></li>
                        <li class="col-6-12">
                            <div class="videoThumbnail rounded shadow popupTrigger ae-4 fromCenter margin-bottom-tablet-4" data-popup-id="16-16">
                                <img class="wide" src="#{dir}assets/img/homepage/backgrounds/2.jpg" alt="Video Thumbnail"/>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="background" style="background-image:url(#{dir}assets/img/galeria/mar.png)"></div>
</section>




include ../includes/footer

